body{
    background-color: #eef9fa;
    font-family: Poppins, "Times New Roman", serif;
}

header{
    text-align: center;
}


/* off-screen-menu */
.off-screen-menu{
    background-color: #00332f;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}

.off-screen-menu.active {
    right: 0;
}

.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.ham-menu span{
    height: 5px;
    width: 50px;
    background-color: #00332f;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50,-50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50,-50%) rotate(45deg);
} 

/* Headings */

h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display", sans-serif;
    font-size: 300%;
    text-align: center;
}
h6 {
    margin:0;
    padding-top: 10%;
    font-size: 36px;
    color: #00332f;
    font-family: 'Times New Roman', Times, serif;
}
img {
 max-width: 100%;
}

/* HERO,FOOTER */
#hero, footer {
  text-align: center;
  background-color: #8ccfca;
  color: #00332f;
  padding: 10px;
  border: 1px solid #00332f;
  border-radius: 0px;
  max-width:100%;
}

#hero img {
    width:220px;
    border-radius: 8px;
    border-radius: 5px;
    border: 3px solid #0e504a;
}

/* Color Scheme */

#color {
text-align: center;
margin-top: 10%;
margin-bottom: 10%;
}

/* CITATIONS */
#citations {
    margin-bottom: 4%;
    text-align: center; 
    list-style-position: inside; 
}

/* BIO */
#bio{
    background-color: #00332f;
    color: #eef9fa;
    text-align: center;
    border-radius: 1px;
    border: 2px solid #00332f;
    margin-top: 90px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

/* hobbies */

#hobbies {
    margin-top: 0px;
    text-align: center;
    list-style-position: inside;
}

#hobbies li:nth-child(even){
    color:#00332f;
}

/*gallery*/

#gallery {
    background-color: whitesmoke;
    border: 10px solid #0e504a;
    border-radius: 10px;
    text-align: center;
}

#gallery img{
    padding-left: 3px;
}


/*LIT/BLOG*/

#lit{
    text-align: center;
    border: 10px dotted #00332f;
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10%;
}

#lit img {
    max-width: 70%;
    padding-bottom: 5px;
    border: 5px solid #8ccfca;
}

#lit p{
    clear: both;
    font-size: 17px;
}

/* MY VIDEO */

#myVideo{
    display:block;
    max-width:100%;
    margin-left:auto;
    margin-right: auto;
    margin-bottom:20px;
}

#video{
    margin-bottom: 20%;
    margin-top: 10%;
}

/* CONTACT FORM */

#formElements {
    display: grid;
    row-gap: .5em;
}

#contact {
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
}

fieldset {
    border: 2px solid #0e504a;
    margin-top: 1em;
    margin-bottom: 1em;
}

legend {
    background-color: #00332f;
    color: white;
    padding: .5em;
}

#contact input, #contact textarea, #contact select, #contact button {
padding: .5em;
font-size: 1rem;
}

#contact ul {
 list-style: none;
 padding: 0px;
}

#contact li {
    margin: 1rem;
}

#contact button {
    background-color: #00332f;
    color: white;
    border: 1px solid #2a7a7f;
}

/* HOVER EFFECT */

.grid {
    display: grid;
}

.img-wrapper {
    position: relative;
    overflow: hidden;
}

.img-wrapper > img {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.img-wrapper > .content {
    opacity:0;
    position: absolute;
    inset: 0;
    font-size: 2rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, .4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper>img,
.img-wrapper>.content {
    transition: 200ms ease-in-out;
}

.img-wrapper:hover > img.blur {
    filter:blur(5px);
}

.img-wrapper:hover > .content.fade {
    opacity: 0;
}

.img-wrapper:hover > .content.fade {
    opacity: 1;
}


/* Media State */

@media (min-width: 1000px) {

    /* BIO */
#bio{
    background-color: #00332f;
    color: #eef9fa;
    text-align: center;
    border-radius: 1px;
    border: 2px solid #00332f;
    margin-top: 7%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 7%;
    padding-left: 7px;
    padding-right: 7px;
}

/* VIDEO */

#video{
    margin-bottom: 5%;
    margin-top: 25px;
}

/* GALLERY */

 #gallery img { 
     max-width: 80%;
     padding-left: 10%; 
}  

#gallery {
    margin-top: 12px;
    border: 10px solid #0e504a;
    border-radius: 10px;
    text-align: center;
}

/* CITATIONS */

#citations {
    text-align: center; 
    list-style-position: inside;
}

/* Color Scheme*/

#color {
    text-align: justify;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    }

    #color {
        text-align: center;
        margin-top: 12%;
    }

/* LIT/BLOG */

#lit {
    border: 10px dotted #8ccfca;
    border-radius: 10px;
    margin-top: 5%;
    background-color: #2a7a7f;
    color: white;
}

#lit img {
    max-width: 50%;
    border: 2px solid white;
}

#lit p{
    font-size: 20px;
}

h6,#lit h2 {
    color: white;
    text-shadow: black 2px 2px;
}

}